name: Central Release
on:
  workflow_dispatch: # Manual trigger so you don't release on every push
    inputs:
      ref_to_release:
        description: '[Optional] Branch or commit to release. Default: Github default branch'
        required: false
        type: string
        # default has to be a static string, no variables allowed
        default: ''

jobs:
    call-snapshot-job:
      uses: project-ncl/shared-github-actions/.github/workflows/maven-release.yml@main
      with:
        ref_to_release: ${{ inputs.ref_to_release }}
      secrets:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
