name: Build snapshot version and upload to Maven Central

on:
  push:
    branches: [ "main" ]

jobs:
  snapshot:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    # https://github.com/marketplace/actions/maven-setings-action
    - name: Maven Settings
      uses: s4u/maven-settings-action@v4.0.0
      with:
        sonatypeSnapshots: true
        githubServer: false
        servers: |
            [{
                "id": "central",
                "username": "${{ secrets.SONATYPE_USERNAME }}",
                "password": "${{ secrets.SONATYPE_PASSWORD }}"
            }]
    - name: Extract Project version
      id: project-version
      run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_OUTPUT"
    - name: Deploy Snapshot
      if:  ${{ endsWith(steps.project-version.outputs.version, '-SNAPSHOT') }}
      run: mvn -B -V org.apache.maven.plugins:maven-source-plugin:jar-no-fork deploy
