name: Build snapshot version and upload to Maven Central

on:
  push:
    branches: [ "main" ]

jobs:
  snapshot:
    # only run for this repository and not on forked ones
    if: github.repository == 'project-ncl/kafka-store'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    # Cache m2 repository
    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    # https://github.com/marketplace/actions/maven-setings-action
    - name: Maven Settings
      uses: s4u/maven-settings-action@v4.0.0
      with:
        sonatypeSnapshots: true
        githubServer: false
        servers: |
            [{
                "id": "central-publisher",
                "username": "${{ secrets.SONATYPE_USERNAME }}",
                "password": "${{ secrets.SONATYPE_PASSWORD }}"
            }]
    - name: Extract Project version
      id: project-version
      run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_OUTPUT"
    - name: Deploy Snapshot
      # Only run for snapshot version and not for commits with released versions
      if:  ${{ endsWith(steps.project-version.outputs.version, '-SNAPSHOT') }}
      run: mvn -B -V org.apache.maven.plugins:maven-source-plugin:jar-no-fork deploy

    - name: Build the container image using jib
    # need to define: QUARKUS_CONTAINER_IMAGE_USERNAME and QUARKUS_CONTAINER_IMAGE_PASSWORD
      id: build-image
      run: mvn install -DskipTests=true -Dquarkus.container-image.build=true -Dquarkus.container-image.push=true \
                -Dquarkus.container-image.username="${{ secrets.QUAY_NEWCASTLE_DEVEL_USER }}" -Dquarkus.container-image.password="${{ secrets.QUAY_NEWCASTLE_DEVEL_PASSWORD }}"

#     - name: copy artifact to the container folder
#       run: cp target/kafka-store-runner.jar container

#     - name: Build the container image
#       id: build-image
#       uses: redhat-actions/buildah-build@v2
#       with:
#         image: kafka-store-github-test
#         tags: latest ${{ github.sha }}
#         containerfiles: |
#           ./container/Containerfile
# 
#     - name: Push To quay.io
#       id: push-to-quay
#       uses: redhat-actions/push-to-registry@v2
#       with:
#         image: ${{ steps.build-image.outputs.image }}
#         tags: ${{ steps.build-image.outputs.tags }}
#         registry: quay.io/rh-newcastle-devel
#         username: ${{ secrets.QUAY_NEWCASTLE_DEVEL_USER }}
#         password: ${{ secrets.QUAY_NEWCASTLE_DEVEL_PASSWORD }}

#     - name: Print image url
#       run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
