name: Build snapshot version and upload to Maven Central

on:
  push:
    branches: [ "main" ]

jobs:
    # temporarily test new maven snapshot
    # call-snapshot-job:
      # uses: project-ncl/shared-github-actions/.github/workflows/maven-snapshot.yml@v0.0.3
      # with:
        # project_name: 'project-ncl/kafka-store'
      # secrets:
        # SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        # SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        #
  snapshot:
    # only run for this repository and not on forked ones
    if: github.repository == 'project-ncl/kafka-store'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK '21'
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        server-id: central
        server-username: MAVEN_USERNAME
        server-password:  MAVEN_PASSWORD

    - name: Extract Project version
      id: project-version
      run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_OUTPUT"

    - name: Deploy Snapshot
      # Only run for snapshot version and not for commits with released versions
      if:  ${{ endsWith(steps.project-version.outputs.version, '-SNAPSHOT') }}
      run: 'mvn -B -V deploy'
      env:
        MAVEN_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
